[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = ">=7.8.0"
keras = ">=2.2.5"
matplotlib = ">=2.2.2"
numpy = ">=1.14"
pylib = {editable = true,path = "./pylib"}
python-dateutil = ">=2.7.2"
requests = ">=2.18.4"
scipy = ">=1.0.0"
talos = ">=0.6.3"
tensorflow = ">=1.14.0"
websocket-client = ">=0.37.0"

[dev-packages]
setuptools-rust = ">=0.10.1"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.7"
