[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# https://www.python.org/dev/peps/pep-0440/#version-specifiers
# ~=X.Y ==> >=X.Y, ==X.*
# ~=X.Y.Z => >=X.Y.Z, ==X.Y.*

[packages]
dataclasses-json = "~=0.3.7"
ipython = "~=7.8"
keras = "~=2.2"
matplotlib = "~=3.1"
natsort = "~=7.0"
numpy = "~=1.14"
python-dateutil = "~=2.7"
scapy = "~=2.4"
scipy = "~=1.0"
selenium = "~=3.141"
stem = "~=1.8"
tabulate = "~=0.8.6"
talos = "~=0.6.3"
tbselenium = "~=0.4"
tensorflow = "==1.14.0"
tensorflow-gpu = "==1.14.0"
tldextract = "~=2.2"

[dev-packages]
black = "==19.10b0"
mypy = "*"
notebook = "~=6.0"
pylint = "*"
setuptools-rust = "~=0.11.6"

[requires]
python_version = "3.7"
