[Unit]
Description=Run the whole dns capturing process pipeline
# Make sure the network is available
After=network-online.target unbound.service
Requires=network-online.target
# Stop system after this unit
# SuccessAction=poweroff
# FailureAction=poweroff

[Service]
TimeoutStartSec=0
# Only for testing purposes
Environment=DISPLAY=':0'
ExecStart=/usr/bin/google-chrome
# ExecStart=/usr/bin/touch /output/i_created_a_file
Type=oneshot
# Drop privileges to user
User=docker
Group=docker

[Install]
WantedBy=multi-user.target
